@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
// import Swiper styles
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;

}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;

}

a {
  text-decoration: none;
  font-family: 'PT Sans Caption', sans-serif;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.container {
  max-width: toRem(1520);
  width: 100%;
  margin: auto;

}

@media screen and (max-width:1200px) {
  .container {
    max-width: 90%;
  }
}

header {
  // background-image: url('public/products/darck_bg.png')  ;
  // background-repeat: no-repeat;
  // background-position: right 0 top;
  // border-bottom: 1px solid #E6E6E6;
  position: relative;

  .container-hiden {
    display: none;
  }

  .darck_bg {
    position: absolute;
    right: 0;
    // left: calc(100vw - 900px);
    width: toRem(937);
    height: toRem(856);
    top: 0;
    z-index: -1;
  }

  .container {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // padding-top: toRem(10);
    // padding-bottom: toRem(7);
  }

  nav {
    flex-grow: 1;
    max-width: toRem(900);
    display: flex;
    // align-items: center;
    justify-content: space-between;

  }

  .menu-item {
    font-weight: normal;
    font-size: toRem(21);
    line-height: toRem(27);
    flex-grow: 1;
    color: #2D2D2D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

    align-self: stretch;
    padding-left: toRem(35);
    padding-right: toRem(35);
    transition: ease 300ms;



    &.active {
      background: #DCC96C;
    }

    &:hover {
      background: #343434;
      color: #FFFFFF;
    }
  }
}

.phones {
  align-self: center;
}

.phones a {
  font-weight: bold;
  font-size: toRem(29);
  line-height: 161.69%;
  text-align: right;
  color: #FFFFFF;
}

.schedule {
  font-size: toRem(19);
  line-height: 161.69%;
  text-align: right;
  color: #FFFFFF;
}

body {
  background: url('public/products/background.png');
}

button,
.order-button {
  filter: drop-shadow(0px 4px 4px rgba(100, 85, 14, 0.5));
  border: none;
  outline: none;
  background: #DCC96C;
  border-radius: 2px;
  // padding:toRem(22) 0;
  height: toRem(70);
  width: toRem(358);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: toRem(21);
  line-height: toRem(27);
  cursor: pointer;
  color: #2D2D2D;
  transition: ease .3s;

  &:hover {
    // color: #2D2D2D;
    filter: none;
  }

  &:active {
    background: #343434;
    color: #FFFFFF;
  }
}

.main-screen {

  // border-top: 1px solid #E6E6E6;
  .title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(41);
    line-height: toRem(54);

    color: #2D2D2D;
    margin-bottom: toRem(22);
  }

  .subtitle {
    font-size: toRem(28);
    line-height: toRem(36);

    color: #2D2D2D;
    margin-bottom: toRem(57);

  }

  .container {
    padding-top: toRem(72);
    position: relative;
  }

  .title-block {

    width: toRem(994);
    padding: toRem(92) toRem(250) toRem(72) toRem(94);
    background: rgba(247, 249, 251, 0.5);
    backdrop-filter: blur(9px);
    border-radius: 2px;
    margin-bottom: toRem(42);
  }

  form {
    display: flex;
    position: relative;
    align-items: center;

    // label{
    //     // content:"111";
    //     display: block;
    //     width:toRem(50);
    //     height: 100%;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     background: #F7F9FB;
    //     border: 1px solid #CCCCCC;
    // }
    input {
      background: #F7F9FB;
      border: 1px solid #CCCCCC;
      text-align: center;
      outline: none;
      height: toRem(70);
      width: toRem(342);


      &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: toRem(21);
        line-height: 160.19%;
        text-align: center;
        color: #8C8C8C;

      }

      margin-right:toRem(12);


    }


  }

  .main-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: toRem(1020);
    height: toRem(645);
  }

  .advantage {
    display: flex;
    align-items: center;
    // margin-right: toRem(-15);
    // margin-left: toRem(-15);




  }

  .advantage-item {
    margin-right: toRem(15);
    margin-left: toRem(15);
    -webkit-perspective: toRem(1200);
    perspective: toRem(1200);
    -moz-transform: perspective(1200px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;


    &:hover .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }

  }

  .flipper {
    width: toRem(360);
    height: toRem(211);
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s linear;
    -moz-transition: .7s linear;
    -o-transition: .7s linear;
    transition: .7s linear;
  }

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .front {
    width: toRem(360);
    height: toRem(211);
    margin-right: toRem(15);
    margin-left: toRem(15);
    padding-top: toRem(33);
    padding-bottom: toRem(21);
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    box-shadow: -13px -12px 24px rgba(32, 32, 32, 0.06);
    border-radius: 5px;


    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);


    img {
      margin-bottom: toRem(22);
      width: toRem(70);
      height: toRem(70);
    }

    .advantage-title {
      font-weight: bold;
      font-size: toRem(24);
      line-height: toRem(31);
      text-align: center;

      color: #2D2D2D;
    }

  }

  .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F9E59D;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: bold;
    font-size: toRem(18);
    line-height: toRem(23);

    color: #2D2D2D;
    text-align: center;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

  }
}

.usage {
  margin-top: toRem(80);

  .title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(38);
    line-height: toRem(47);

    color: #2D2D2D;
    margin-bottom: toRem(32);
    text-align: center;
  }

  .usage-content {
    display: flex;

    .left-part {
      margin-right: toRem(30);
      position: relative;
      overflow: hidden;
      img{
        transition: ease 300ms;
      }
      &:hover img{
        // width: 110%;
        transform: scale(1.02);
      }
      .left-sign {
        position: absolute;
        left: toRem(28);
        bottom: toRem(37);
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: bold;
        font-size: toRem(24);
        line-height: toRem(31);
        /* identical to box height */

        text-transform: uppercase;

        color: #FFFFFF;
      }
    }

    .right-part {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top {
        margin-bottom: toRem(10);
        
      }

      .top,
      .bottom {
        position: relative;
        overflow: hidden;
        img{
          transition: ease 300ms;
        }
        &:hover img{
          // width: 110%;
          transform: scale(1.02);
        }
      }

      .top-sign,
      .bottom-sign {
        position: absolute;
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: bold;
        font-size: toRem(24);
        line-height: toRem(31);
        /* identical to box height */

        text-transform: uppercase;

        color: #FFFFFF;
      }

      .top-sign {
        left: toRem(30);
        bottom: toRem(39);
      }

      .bottom-sign {
        left: toRem(30);
        bottom: toRem(39);
      }

    }

  }

}

.installation {
  margin-top: toRem(80);
  padding-top: toRem(56);
  padding-bottom: toRem(66);
  background: url('public/products/bg.png');
  background-repeat: no-repeat;
  background-position: left top;

  .container {
    display: flex;
  }

  .left {
    flex-basis: 120%;
  }

  .right {
    margin-left: toRem(30);
  }

  .instalation-title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(38);
    line-height: toRem(47);
    /* identical to box height */


    color: #2D2D2D;
    margin-bottom: toRem(54);
  }

  .instalation-content {
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(18);
    line-height: toRem(29);
    /* or 162% */


    color: #2D2D2D;
  }
}


.order {
  margin-top: toRem(80);
  background-image: url("public/products/bgorder.png");
  background-position: top toRem(16) left;
  background-repeat: repeat-x;


  .container {
    display: flex;
  }

  .order-offer {
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(24);
    line-height: 100%;
    /* ortoRem(24) */


    color: #2D2D2D;
    margin-bottom: toRem(45);
  }

  .colored_txt {

    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: toRem(41);
    line-height: 100%;
    /* ortoRem(41) */


    color: #DCC96C;
  }

  .title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(38);
    line-height: toRem(47);

    color: #2D2D2D;
    margin-bottom: toRem(52);
  }

  .left {
    padding-left: toRem(150);
    margin-right: toRem(130);
  }

  .right {
    padding-top: toRem(110);
  }

}

.clients {
  padding-top: toRem(56);
  background-image: url("public/products/bg-clients.png");
  background-position: top;
  background-repeat: repeat-x;
  background-size: contain;
  margin-bottom: toRem(80);

  .title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(38);
    line-height: toRem(47);
    color: #FFFFFF;
    text-align: center;
    margin-bottom: toRem(21);

  }

  .swiper_clients {
    display: flex;
    flex-direction: column;
  }

  .swiper-slide {
    .card-title {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: bold;
      font-size: toRem(24);
      line-height: toRem(31);
      color: #FFFFFF;
      text-align: center;
      margin-bottom: toRem(47);
    }

    .card-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

    }

    .gallery {
      background: #FAFAFA;
      border: 1px solid #C9C9C9;
      box-sizing: border-box;
      box-shadow: -18px -16px 15px rgba(32, 32, 32, 0.25);
      border-radius: 5px;
      padding-top: toRem(30);
      padding-right: toRem(15);
      padding-left: toRem(15);
      display: flex;
      flex-wrap: wrap;
      width: 50%;

      img {
        margin-right: toRem(15);
        margin-left: toRem(15);
        margin-bottom: toRem(30);
        width: calc(50% - 1.875rem);
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
      }

    }

    .gallery-text {
      width: 40%;

      background: #FAFAFA;
      border: 1px solid #C9C9C9;
      box-sizing: border-box;
      border-radius: 5px;
      padding: toRem(24);
      min-height: toRem(357);
    }

    .customer_row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .avatar {
        border-radius: 5px;
        width: toRem(100);
        height: toRem(100);
        object-position: center;
        object-fit: cover;
        margin-right: toRem(25);
      }

      .wrapper {
        display: flex;
        align-items: center;
      }

      .name {
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: bold;
        font-size: toRem(24);
        line-height: toRem(31);
        color: #2D2D2D;
        margin-bottom: toRem(11);
       
      }

      .date {
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: normal;
        font-size: toRem(17);
        line-height: toRem(22);
        color: #2D2D2D;
      }



    }

    .reveiw-row {
      margin-top: toRem(24);
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(18);
      line-height: toRem(29);
      color: #2D2D2D;
    }

  }

  .container-navigation {
    display: flex;
    justify-content: flex-end;
  }

  .navigation {
    // position: relative;
    justify-content: space-between;
    display: flex;
    // background-color: #CCCCCC;
    width: 40%;
    // height:toRem(50);
    align-self: flex-end;
    align-items: center;
    transform: translateY(toRem(-65));
    z-index: 1;

    .swiper-button-next,
    .swiper-button-prev {
      position: static;

      background: #343434;
      border: 1px solid #5E5E5E;
      box-sizing: border-box;
      box-shadow: 0px 6px 0px #343434;
      border-radius: 5px;
      width: toRem(99);
      height: toRem(99);

    }

    .swiper-button-prev {
      margin-right: toRem(10);
    }

    .swiper-button-disabled {
      background: #DCC96C;
      border: 1px solid #D2C99D;

      box-shadow: 0px 6px 0px #8B7B2D;
      opacity: 1;

    }

    .swiper-pagination-bullet {
      background: rgba(52, 52, 52, 0.19);
      border-radius: 5px;
      width: toRem(35);
      height: toRem(10);
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background: #343434;
      border-radius: 5px;
    }

    .swiper-pagination {
      position: static;
      width: auto;
    }

    .wrapper {
      display: flex;

    }

  }


}

.reiting {
  display: flex;
  background: #DCC96C;
  border-radius: 10px;
  padding: toRem(8) toRem(12);

  img {
    margin-right: toRem(6);
  }

  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size:toRem(24);
  line-height:toRem(31);
  color: #FFFFFF;

}

.catalog {
  margin-bottom: toRem(120);

  .title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(38);
    line-height: toRem(47);
    color: #2D2D2D;
    text-align: center;
    margin-bottom: toRem(58);
  }

  .catalog-cards {

    // padding-right:  -15px;
    // padding-left:  -15px;
    display: flex;
    align-items: flex-start;


  }
  .color-input{
      border: none;
      outline: none;
      margin-top: toRem(15);
      margin-bottom: toRem(15);
  }

  .catalog-card {
    margin-right: 15px;
    margin-left: 15px;
    background: #FAFAFA;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    box-shadow: -18px -16px 15px rgba(32, 32, 32, 0.03);
    border-radius: 5px;
    padding-top: toRem(23);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    >.img-block{
      margin-bottom: toRem(20);
      width: 90%;
      img {
        // margin-right:toRem(23);
        // margin-left:toRem(23);
       
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        height: toRem(174);
      }

    } 
    &.show{
     
      form{
        position: static;
        transform: translate(0px);
        transform: scale(1);
        opacity: 1;
        z-index: 1;
        .wrapper {
          padding-left: toRem(22);
          padding-right: toRem(22);
        }
        .color-list{
          .wrapper{
            padding: 0;
          }
        }
        button{
          margin-bottom: toRem(30);
        }
      }
      .order-button{
        background: #343434;
        color: #FFFFFF;

      }
    } 
    overflow: hidden;
    form {
      position: absolute;
      z-index: -4;
      opacity: 0;
      transform: scale(0);
      transition: opacity  300ms ease, padding 300ms ease  ;
      transform: translateY(-1000px);
      .wrapper {
        padding-left: toRem(0);
        padding-right: toRem(0);
      }
    }

    .name {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: bold;
      font-size: toRem(24);
      line-height: toRem(31);
      /* identical to box height */

      display: block;
      color: #2D2D2D;
      margin-bottom: toRem(30);
      text-align: center;
    }

    .size {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: toRem(10);

      label {
        width: 45%;
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: normal;
        font-size: toRem(18);
        line-height: toRem(23);
        color: #2D2D2D;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: toRem(30);

        input {
          width: toRem(32);
          height: toRem(32);
          margin: 0;
          margin-right: toRem(10);
        }
      }
    }

    .sign {
      margin-bottom: toRem(15);
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(21);
      line-height: toRem(27);

      color: #2D2D2D;
    }

    .price {
      margin-top: toRem(18);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: toRem(30);
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(21);
      line-height: toRem(27);

      color: #2D2D2D;
    }
    button{
      width: toRem(130);
      margin: auto;
      height: toRem(50);
     margin-bottom: 0;

    }
    .order-button {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: bold;
      font-size: toRem(21);
      line-height: toRem(27);
      text-align: center;
      color: #2D2D2D;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: #DCC96C;
      border-radius: 0px 0px 5px 5px;
      
    }
  }

  .color {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: toRem(10);

    .color-list {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin-top: toRem(18);
      margin-right: toRem(-7);
      margin-left: toRem(-7);
      min-height: toRem(60);

      .wrapper {
        padding: 0;
      }

      input {
        opacity: 0;
        position: absolute;
        z-index: -2;
      }

      .color-label {
        div {
          width: toRem(29);
          height: toRem(29);
          border-radius: 5px;
          transition: 300ms ease;

        }

        transition: 300ms ease;

        margin-right: toRem(7);
        margin-left: toRem(7);
        display: block;


      }

    }

    input~.show-choise {
      position: absolute;
      top: 0;
      left: 0;

      opacity: 0;
      z-index: -1;
      width: auto;
      margin: 0;
    }

    input:checked~.color-label {
      padding: toRem(10);

      border: 1px solid #C2C2C2;

      border-radius: 5px;

      div {
        width: toRem(35);
        height: toRem(35);
      }


    }

    input:checked~.show-choise {
      top: 0;
      // top: toRem(15);
      color: #CCCCCC;
      // border: #000 1px solid;
      display: block;
      z-index: 0;
      opacity: 1;
      width: auto;
      margin: 0;
    }

  }


}


.question {
  margin-bottom: toRem(80);

  .container {
    padding: toRem(30) 0 toRem(41) 0;
    background: #FAFAFA;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;

    box-shadow: -18px -16px 15px rgba(32, 32, 32, 0.03);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(38);
    line-height: toRem(47);
    /* identical to box height */

    text-align: center;
    color: #2D2D2D;
    margin-bottom: toRem(17);
  }

  .subtitle {
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(24);
    line-height: toRem(31);
    /* identical to box height */
    text-align: center;

    color: #2D2D2D;
    margin-bottom: toRem(37);
  }
}

.material {

  .title {

    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(38);
    line-height: toRem(47);
    color: #2D2D2D;
    text-align: center;
  }


  .material-items {
    padding-right: toRem(-15);
    padding-left: toRem(-15);
    display: flex;

    .material-item {
      margin-right: toRem(15);
      margin-left: toRem(15);
      width: calc((100% - 7.5rem)/4);

      .img-container {
        margin-bottom: toRem(17);
        position: relative;

        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 5px;
        }

        .order-button {
          position: absolute;
          // z-index: -1;
          width: 100%;
          bottom: 0;
          opacity: 0;
          transition: ease 300ms;
        }

        &:hover {
          .order-button {
            opacity: 1;
          }
        }
      }

      .material-sign {
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: bold;
        font-size: toRem(24);
        line-height: toRem(31);
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #2D2D2D;
        padding-left: toRem(10);

      }
    }
  }
}

.paint {
  margin-top: toRem(300);
  background-image: url('public/products/bg-paint.png');
  background-repeat: no-repeat;
  background-size: 100%;

  background-position: bottom;

  .container {
    display: flex;
    padding-top: toRem(65);
    padding-bottom: toRem(122);
    position: relative;

    .left-part {
      width: 50%;
      margin:auto;
      // display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .order-button{
        margin: auto;
      }
      .title {
        font-family: Prosto One;
        font-style: normal;
        font-weight: normal;
        font-size: toRem(38);
        line-height: toRem(47);
        color: #FFFFFF;
        margin-bottom: toRem(37);
      }

      .subtitle {
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: normal;
        font-size: toRem(18);
        line-height: toRem(29);

        color: #FFFFFF;
        margin-bottom: toRem(37);
      }
    }

    .right-part {
      position: absolute;
      right: 0;
      bottom: 0;
      width: toRem(744);
      height: toRem(738);
    }

  }


}

.consult {
  margin-top: toRem(80);
  background-image: url('public/products/consult-bg.png');
  background-repeat: no-repeat;
  background-position: center left -15%;
  background-size: 50%;

  .container {
    display: flex;
  }

  .left-part {
    margin-right: toRem(60);
  }

  .right-part {
    width: 50%;
    padding-top: toRem(120);

    .title {
      font-family: Prosto One;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(38);
      line-height: toRem(47);

      color: #2D2D2D;
      margin-bottom: toRem(30);
    }

    .consult-text {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(18);
      line-height: toRem(29);
      /* or 162% */


      color: #2D2D2D;
      margin-bottom: toRem(50);
    }

  }
}

.contacts {
  margin-top: toRem(17);
  margin-bottom: toRem(20);

  .container {}

  .title {
    margin-bottom: toRem(52);
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(38);
    line-height: toRem(47);
    color: #2D2D2D;
    text-align: center;
  }

  .contacts-block {
    display: flex;
    position: relative;
    // align-items: flex-end;
    justify-content: flex-end;

    .contacts-info {
      display: flex;
      flex-direction: column;
      padding: toRem(56) toRem(37);
      background: #FAFAFA;
      border: 1px solid #C9C9C9;
      box-sizing: border-box;
      border-radius: 10px;
      // width: toRem(500);
      width: 30%;
      height: toRem(315);
      position: absolute;

      top: toRem(85);
      left: 0;
      z-index: 1;
    }

    .info-sign {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: bold;
      font-size: toRem(24);
      line-height: 164.9%;
      color: #2D2D2D;
      margin-bottom: toRem(43);
    }

    .contacts-link {
      display: flex;
      flex-wrap: wrap;

      >div {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: toRem(36);

        img {
          margin-right: toRem(9);
        }

      }

      // .adress {
      //   width: 60%;

      // }

      // .mail {
      //   width: 40%;
      // }

      a {
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: normal;
        font-size: toRem(18);
        line-height: toRem(23);

        color: #2D2D2D;
      }

    }

    .map {
      border: none;
      outline: none;
      width: 65%;
      height: toRem(510);
      border-radius: 5px;
      overflow: hidden;

    }
  }
}

footer {

  .top-footer {
    background: #2F3D4D;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: toRem(20);
      padding-bottom: toRem(20);
    }

    .menu {
      width: toRem(850);
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .menu-item {
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: normal;
        font-size: toRem(21);
        line-height: toRem(27);

        color: #FFFFFF;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .phone-item {

      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: bold;
      font-size: toRem(29);
      line-height: 161.69%;
      /* ortoRem(47) */

      text-align: right;

      color: #FFFFFF;

    }

    .shedule {

      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(19);
      line-height: 161.69%;
      /* ortoRem(31) */

      text-align: right;

      color: #FFFFFF;
    }
  }


  .bottom-footer {
    padding: toRem(10) 0;
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(19);
    line-height: 153.69%;
    /* ortoRem(29) */

    text-align: right;

    color: #2D2D2D;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }
}

.order .left img {
  width: toRem(248);
  height: toRem(483);
}

@media screen and (max-width:1200px) {
  header .darck_bg {
    width: 40.5625rem;
  }

  header nav {
    max-width: 80%;
  }

  header .menu-item {
    font-size: 18px;
    padding: 0;
  }

  .contacts .contacts-block .info-sign {
    font-size: 16px;
    line-height: 17px;
  }

  .installation .instalation-content,
  .consult .right-part .consult-text,
  .contacts .contacts-block .contacts-link a,
  .paint .container .left-part .subtitle,
  .question .subtitle,
  .clients .swiper-slide .reveiw-row,
  .clients .swiper-slide .card-title {
    font-size: 14px;
    line-height: 15px;
  }

  .clients .swiper-slide .customer_row .date {
    font-size: 12px;
  }

  .contacts .contacts-block .contacts-info {
    height: auto;
  }

  .contacts .contacts-block .contacts-link>div,
  .contacts .contacts-block .contacts-link .adress,
  .contacts .contacts-block .contacts-link .mail {
    width: 100%;
  }

}

@media screen and (max-width:900px) {
  .catalog .color input:checked~.show-choise{
    // top: 10px;
  }
  .main-screen .title-block{
    width: 100%;
  }
  .paint .container .left-part{
    width: 100%;
  }
  header {
    position: static;
    // .title-block{
    //   width: 100%;
    // }
    .container {
      display: none;
    }

    .container-hiden {
      display: block;

      // position: relative;
      .burger {
        // background: #dcc96c;
        // border-radius: 5px;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 2;
      }

      nav {
        flex-direction: column;
        transform: translateX(-150%);
        position: absolute;
        transition: 300ms ease;
        max-width: none;
        display: flex;
        align-items: center;
        z-index: 2;

        &.show {
          transform: translateX(0);
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #343434;
        }

        .menu-item {
          color: #fff;
        }

      }

    }
  }

  header .darck_bg {
    display: none;
  }

  .main-screen .title-block {
    padding: 15px;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .main-screen .advantage {
    flex-direction: column;

    .advantage-item {
      margin: 0;
      margin-bottom: 10px;

    }
  }

  .catalog .catalog-cards {
    flex-wrap: wrap;

    .catalog-card {
      width: calc(46%-15px);
      flex-grow: 1;
      margin-bottom: 15px;
      button{
        width: 130px;
        margin: auto;
        height: 50px;
        margin-bottom: 30px;
      }
    }
  }

  .contacts .contacts-block {
    flex-direction: column;
    .contacts-link{
      align-items: center;
    justify-content: center;
    .telephone{
      margin-bottom: 0;
    }
    }
    .contacts-info {
      width: auto;
      position: static;
      // width: 350px;
      margin: auto;
      padding: 30px 15px;
    }
    .map{
      width: 100%;
      height: 300px;
      margin-top: 15px;
    }
  }

  .container {
    max-width: 98%;
  }


  .main-screen .front,
  .main-screen .back {
    padding: 10px 0;
    margin: 0;
    height: 100%;
  }

  .main-screen .flipper {
    height: 200px;
  }

  .usage {
    margin-top: 45px;

    .title {
      font-size: 29px;
      margin-bottom: 10px;
    }
  }

  .installation {
    // background-repeat: repeat-x;
    background: none;
    margin-top: 45px;
  }

  .order {
    margin-top: 30px;
    background-position: top left;

    .title {
      margin-bottom: 10px;
      font-size: 29px;
      line-height: 30px;
    }

    .order-offer {
      font-size: 19px;

      .colored_txt {
        font-size: 20px;
      }
    }
  }

  .order .right {
    padding-top: 0;
  }

  .order .left {
    display: flex;
    align-items: flex-end;

    img {
      height: auto;
    }
  }

  .order-button,
  button {
    width: 320px;
    height: 70px;
  }

  .clients .swiper-slide .gallery {
    width: 53%;
  }

  .clients .swiper-slide .gallery-text {
    width: 43%;
    min-height: auto
  }

  .clients .container-navigation {
    justify-content: center;
    margin-top: 30px;
  }

  .clients .navigation {
    transform: translateY(0);
    align-self: center;
  }

  .clients .navigation .swiper-button-next,
  .clients .navigation .swiper-button-prev {
    width: 48px;
    height: 48px;
  }

  .clients .swiper-slide .customer_row .reiting {
    font-size: 15px;
    padding: 3px;
    height: 35px;
    width: 50px;

    img {
      width: 50%;
    }
  }

  .clients {
    margin-bottom: 45px;
  }

  .catalog .title {
    font-size: 29px;
    margin-bottom: 30px;
  }

  .catalog,
  .question,
  .paint {
    margin-bottom: 45px;
  }

  .question .title,
  .material .title {
    font-size: 29px;

  }

  .paint {
    margin-top: 45px;
    background-size: cover;

    .container {
      padding: 0;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .paint .container .right-part {
    position: static;
    width: auto;
    height: auto;
    width: 39%;

  }

  .paint .container .left-part {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .paint .container .left-part .title {
    font-size: 29px;
    line-height: 30px;
    // text-align: center;
  }

  .paint .container .right-part img {
    width: 100%;
  }

  .consult {
    margin-top: 0;
  }

  .consult .right-part {
    padding-top: 30px;
  }

  .consult .right-part .title,
  .clients .title {
    font-size: 29px;
    line-height: 30px;
  }

  .clients .swiper-slide .customer_row .avatar {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .clients .swiper-slide .gallery-text {
    padding: 10px;
  }

  .clients .swiper-slide .customer_row .wrapper {
    flex-direction: column;

  }

  .clients .swiper-slide .customer_row .name {
    font-size: 19px;
    line-height: 20px;
    
  }

  .contacts .title {
    margin-bottom: 30px;
    font-size: 29px;
  }

  footer .top-footer .menu {
    flex-direction: column;
    width: auto;
  }

  footer .top-footer .phone-item,
  footer .top-footer .shedule {
    font-size: 19px;
  }

  footer .schedule {
    font-size: 19px;
  }

  footer .top-footer .menu .menu-item {
    font-size: 19px;
  }

  .order .left {
    padding-left: 15px;
    margin-right: 10%;
  }
}

body.show {
  overflow: hidden;
}

@media screen and (max-width:680px) {

  footer .top-footer .container,
  footer .top-footer .menu {
    flex-direction: column;
    text-align: center;
  }

  footer .top-footer .logo,
  footer .top-footer .menu {
    margin-bottom: 30px;
  }

  .clients .swiper-slide .card-content {
    flex-direction: column;
  }

  .clients .swiper-slide .gallery {
    width: 100%;
  }

  .clients .swiper-slide .gallery-text {
    width: 100%;
    margin-top: 15px;


  }

  .clients .swiper-slide .customer_row .wrapper {
    flex-direction: row;
    flex-wrap: wrap;

  }

  .main-screen .advantage-item {
    width: 100%;
  }

  .main-screen .flipper,
  .main-screen .front,
  .main-screen .back {
    width: 100%;
  }

  .consult .container {
    flex-direction: column;
  }

  .consult {
    background: none;
  }

  .consult .left-part {
    margin-right: 0;

    img {
      height: 300px;
      object-position: center;
      object-fit: cover;
      width: 100%;
    }
  }

  .consult .right-part {
    width: 100%;
  }

  .installation .container {
    flex-direction: column;
  }

  .installation .instalation-title {
    margin-bottom: 30px;
    font-size: 29px;
    line-height: 30px;
  }
}

@media screen and (max-width:550px) {
  .catalog .catalog-card .size label{
    margin-bottom: 10px;
  }
  .catalog .catalog-card .name{
    margin-bottom: 5px;
  }
  .catalog .catalog-card .sign {
  
  margin-bottom: 5px;
}
.catalog .color-input{
  margin-bottom: 5px;
}
  .main-screen form {
    flex-direction: column;

    input {
      margin-right: 0;
      margin-bottom: 15px;
      width: 100%;
    }

    button {
      width: 100%;
    }
  }

  .usage .title {
    line-height: 30px;
  }

  .usage .usage-content {
    flex-direction: column;

    .left-part {
      margin: 0;
      margin-bottom: 5px;

    }

    img {
      height: 150px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  .usage .usage-content .right-part .top {
    margin-bottom: 5px;
    // overflow: hidden;
  }

  .installation {
    padding: 0;
  }

  .order .left {
    display: none;
  }

  .order .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .clients {
    background-image: none;
    padding-top: 0;
    margin-top: 15px;
  }

  .clients .title {
    background: #343434;
    margin-bottom: 0;
    padding-bottom: 21px;
    padding-top: 30px;
  }

  .clients .swiper-slide .card-title {
    margin-bottom: 0;
  }

  .clients .container-navigation {
    // margin-top: 15px;
  }

  .clients .navigation {
    width: 100%;
  }

  .catalog .title,
  .material .title,
  .question .title {
    line-height: 30px;
  }

  .material .material-items {
    flex-direction: column;
  }

  .material .material-items .material-item {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .paint .container .left-part {
    width: 100%;
  }
  .catalog .catalog-card>.img-block img{
    margin: auto;
  }
  .paint .container .right-part {
    display: none;
  }

  .contacts .contacts-block {
    position: static;
    flex-direction: column;
  }

  .contacts .contacts-block .contacts-info {
    position: static;
    width: 100%;
  }

  .contacts .contacts-block .map {
    width: 100%;
  }

  .main-screen .title {
    font-size: 29px;
    line-height: 30px;
  }

  .main-screen .subtitle {
    font-size: 27px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .installation .right {
    margin-left: 0;
    margin-top: 15px;
  }

  .catalog .catalog-cards .catalog-card {
    width: 100%;
  }
}



// example
.example-main {
  background-image: url('public/products/example_bg.png');
  height: toRem(482);

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(44);
    line-height: toRem(54);

    margin-bottom: toRem(50);
    color: #2D2D2D;
  }

  .wrapper {
    display: flex;
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(18);
    line-height: toRem(29);
    color: #2D2D2D;

  }

  .left-part {
    margin-right: toRem(40);
  }
}

.finishing {
  padding-top: toRem(66);
  background-image: url('public/products/finishing_bg.png');
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: toRem(20);
  background-size: 45%;

  .container {
    display: flex;

    .left-part {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .title {
      font-family: Prosto One;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(38);
      line-height: toRem(47);
      color: #2D2D2D;
      margin-bottom: toRem(39);
      text-align: start;

    }

    .finishing-text {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(18);
      line-height: toRem(29);
      color: #2D2D2D;
      max-width: 70%;

    }

    .right-pert {
      width: 55%;
    }
  }
}

.upholstery {
  padding-top: toRem(19);
  background-image: url('public/products/upholstery_bg.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 25%;

  .container {
    display: flex;

    .left-part {
      width: 60%;
      transform: translateY(10px);
    }

    .right-part {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .title {
      font-family: Prosto One;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(38);
      line-height: toRem(47);
      color: #2D2D2D;
      margin-bottom: toRem(39);
      text-align: start;

    }

    .upholstery-text {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(18);
      line-height: toRem(29);
      color: #2D2D2D;
      max-width: 70%;

    }
  }
}

.visualisation {
  background-image: url('public/products/visual.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: toRem(486);

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(38);
    line-height: toRem(47);
    /* identical to box height */
    text-align: center;

    color: #2D2D2D;
    margin-bottom: toRem(27);

  }

  .visualisation-text {
    max-width: toRem(876);
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: normal;
    font-size: toRem(18);
    line-height: toRem(29);
    /* or 162% */

    text-align: center;

    color: #2D2D2D;
  }
}

@media screen and (max-width:1200px) {

  .finishing .container .finishing-text,
  .upholstery .container .upholstery-text,
  .visualisation .visualisation-text,
  .example-main .wrapper {
    font-size: 14px;
    line-height: 17px;
  }

}

@media screen and (max-width:760px) {

  .example-main,
  .visualisation {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .upholstery .container .left-part {
    transform: translateY(0);
  }

  .example-main .title,
  .finishing .container .title,
  .upholstery .container .title,
  .visualisation .title {
    font-size: 29px;
    line-height: 30px;
  }

  .finishing .container .right-part {
    width: 50%;
  }

  .upholstery .container .left-part {
    width: 50%;
  }

  .example-main .wrapper {
    flex-direction: column;
  }

  .finishing {
    padding-top: 45px;
  }

  .finishing .container {
    flex-direction: column-reverse;

  }

  .upholstery .container {
    flex-direction: column;
  }

  .finishing .container .right-part,
  .upholstery .container .left-part,
  .finishing .container .left-part,
  .upholstery .container .right-part {
    width: 100%;

    img {
      height: 300px;
      object-position: center;
      object-fit: cover;
      width: 100%;
    }

  }

  .upholstery {
    margin-bottom: 30px;
  }

  .upholstery .container .title,
  .finishing .container .title {
    margin-bottom: 15px;
    margin-top: 20px;
  }

}


.video-block {
  .container {
    position: relative;
    transform: translateY(-5rem);



  }


  .play-button {
    background: #DCC96C;
    box-shadow: 0px 6px 0px #6D6435;
    border-radius: 120px;
    position: absolute;
    padding: toRem(43);

    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(134);
    height: toRem(134);

    top: calc(50% - 4.1875rem);
    left: calc(50% - .1875rem);
    transition: 300ms ease;

    &:focus {
      background: #343434;
      box-shadow: 0px 6px 0px #6D6435;
    }

    &:hover {
      box-shadow: none;
    }

  }

}

@media screen and (max-width:900px) {
  .video-block {
    margin-top: 30px;
  }

  .video-block .container {
    transform: translateY(0);

  }

  .video-block .play-button {
    width: 50px;
    height: 50px;
    padding: 0;

    top: calc(50% - 25px);
    left: calc(50% - 25px);

    img {
      width: 45%;
    }
  }
}

.product-block {
  margin-top: toRem(80);

  .container {
    display: flex;
  }

  .left-part {
    width: 50%;
    margin-right: toRem(45);

    .swiper-top {

      background: #FAFAFA;
      border: 1px solid #C9C9C9;
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: toRem(30);


      padding: toRem(65) 0;

      img {
        width: toRem(516);
        height: toRem(516);
        object-fit: cover;
        object-position: center;
      }
    }

    .swiper-botom {
      display: flex;
      margin-right: -15px;
      margin-left: -15px;

      .img-block {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FAFAFA;
        border: 1px solid #C9C9C9;
        margin-right: 15px;
        margin-left: 15px;
        border-radius: 5px;
        padding: toRem(38) 0;
        cursor: pointer;

        img {

          width: toRem(90);
        }
      }
    }
  }

  .right-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .name {

      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: bold;
      font-size: toRem(24);
      line-height: toRem(29);
      color: #2D2D2D;

      margin-bottom: toRem(30);
    }

    .description {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(18);
      line-height: toRem(29);

      color: #2D2D2D;
      max-width: toRem(600);
    }
  }

  form {
    padding: toRem(30) toRem(22);
    background: #EBF1F8;

    .form-title {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: bold;
      font-size: toRem(24);
      line-height: toRem(31);

      color: #2D2D2D;
    }

    .form-instruction {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(17);
      line-height: toRem(22);
      margin-bottom: toRem(23);

      color: #2D2D2D;
    }

    .params {
      display: flex;
      margin-bottom: toRem(30);

      label {
        display: flex;
        flex-direction: column;
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: bold;
        font-size: toRem(18);
        line-height: toRem(23);

        color: #2D2D2D;

        span {
          margin-bottom: toRem(8);
        }

        input {
          width: toRem(145);
          height: toRem(45);

          background: #F7F9FB;
          border: 1px solid #D2D2D2;

          &:focus {
            border: none;
            outline: none;
          }
        }

        &:first-child {
          margin-right: toRem(30);
        }

      }
    }

    .count {
      display: flex;
      align-items: center;
      margin-bottom: toRem(86);

      .count-title {
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;

        color: #2D2D2D;
        margin-right: 15px;
      }

      .count-value {
        font-family: PT Sans Caption;
        font-style: normal;
        font-weight: bold;
        font-size: toRem(38);
        line-height: toRem(49);

        color: #2D2D2D;
      }
    }

    .submit-block {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .submit-left {
        display: flex;
        flex-direction: column;

        .submit-desc {
          font-family: PT Sans Caption;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 19px;

          color: #2D2D2D;
        }

        .submit-sign {

          font-family: PT Sans Caption;
          font-style: normal;
          font-weight: bold;
          font-size: toRem(24);
          line-height: toRem(31);

          color: #2D2D2D;
        }

        input {
          background: #F7F9FB;
          border: 1px solid #D2D2D2;
          width: toRem(160);
          height: toRem(45);
        }
      }
    }
  }
}

@media screen and (max-width:900px) {

  .product-block form .submit-block {
    flex-direction: column;
    align-items: center;

    .submit-left {
      align-items: center;
      margin-bottom: 30px;

      input {
        margin-top: 10px;
      }
    }
  }

  .product-block .right-part .name {
    font-size: 29px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .product-block form {
    padding: 15px 10px;
  }

  .product-block .right-part .description {
    font-size: 15px;
    line-height: 16px;
  }

  .product-block form .count .count-value,
  .product-block form .form-title {
    font-size: 28px;
    line-height: 29px;
  }

  .product-block .left-part .swiper-top img,
  .product-block .left-part .swiper-botom .img-block img {
    width: 50%;
    height: auto;
    max-height: 90%;
  }

  .product-block .left-part .swiper-botom .img-block {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .product-block .left-part {
    margin-right: 25px;
  }

  .product-block {
    margin-top: 45px;
  }
}

@media screen and (max-width:800px) {
  .product-block .container {
    flex-direction: column;
  }

  .product-block .left-part {
    margin-bottom: 15px;
  }

  .product-block .left-part,
  .product-block .right-part {
    margin-right: 0;
    width: 100%;
  }

  .product-block .left-part .swiper-top {
    height: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .product-block .left-part .swiper-top img,
  .product-block .left-part .swiper-botom .img-block img {
    width: 80%;
    height: auto;
    max-height: 90%;
  }

  .product-block form {
    margin-top: 15px;
  }

  .product-block .left-part .swiper-botom {
    margin: 0;
  }

}

@media screen and (max-width:440px) {
  .product-block .left-part .swiper-top {
    height: 300px;
    padding: 5px 0;
    margin-bottom: 10px;
  }

  .product-block .left-part .swiper-botom .img-block {
    padding: 0;
    margin: 0;
  }

  .product-block .left-part .swiper-botom {
    justify-content: space-between;
  }
}

.contacts-page {
  margin-top: toRem(150);
  min-height: 60vh;
}

@media screen and (max-width:900px) {
  .contacts-page {
    margin-top: 15px;
  }

}


.reveiw-title {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  font-size: toRem(38);
  line-height: toRem(47);
  /* identical to box height */

  text-align: center;
  color: #2D2D2D;
  margin-top: toRem(80);
  margin-bottom: toRem(73);
}

.reveiw-main {
  background: #343434;
  padding: toRem(60) 0;
.container{
  display: flex;
  flex-wrap: wrap;
}

  .review-card {
    background: #FAFAFA;
    border: 1px solid #C9C9C9;
    box-sizing: border-box;
    border-radius: 5px;
    width: calc((100% - 90px)/3);
    margin-right: 15px;
    margin-left: 15px;
    padding: 23px;
    margin-bottom: toRem(40);
    display: flex;
    flex-direction: column;
    align-items: center;


    .customer_row {
      display: flex;
      // flex-direction: column;
      align-items: flex-start;

      .wrapper {
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
        align-items: flex-start;
        // justify-content: space-between;

      }
    }

    .reiting {
      // align-self: center;
      margin-bottom: toRem(21);
    }

    .avatar {
      width: toRem(100);
      height: toRem(100);
      margin-right: toRem(25);

      img {
        object-position: center;
        object-fit: cover;
      }
    }

    .info {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .name {
      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: bold;
      font-size: toRem(24);
      line-height: toRem(31);
      color: #2D2D2D;
    }

    .reveiw-row {

      font-family: PT Sans Caption;
      font-style: normal;
      font-weight: normal;
      font-size: toRem(18);
      line-height: toRem(29);
      color: #2D2D2D;
      margin-bottom: toRem(30);
    } 

  }

}


@media screen  and (max-width:900px){
  .reveiw-title{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 29px;
    line-height: 30px;
  }
  .reveiw-main .review-card{
    width: calc(50% - 30px);
    .order-button, button{
      width: 100%;
    }
  }
  
}

@media screen  and (max-width:700px){
  .reveiw-main .review-card{
    width: 100%;
    margin-bottom: 20px;
  }
  .reveiw-main{
    padding: 15px 0;
  }
  .reveiw-main .review-card .name{
    font-size: 22px;
  }
  .reveiw-main .review-card .reveiw-row{
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 15px;
  }
 

}

.button-more{
 margin-top: 60px;   
 margin-bottom: 60px;
 .container{
   display: flex;
   align-items: center;
   justify-content: center;
 }
}